body{
	font: 12px 'Open Sans', Helvetica, Arial, serif, sans-serif;
	color: #676767;
	background-color: #f8f8f8;
	line-height: 1.7em;
}


#header {
	border-top: 5px solid #000000;
	border-bottom: 1px solid #e4e4e4;
	background-color: #FFCD00;
}

.imgFront{
	background-color: #ffe373;
	margin-top: 0px;
}

.browser-cat {
	text-transform: uppercase;
}

.browser-cat h5 {
	color: #ff7777;
	border-bottom: 1px solid #ff7777;
}

.browser-cat ul li {
	border-bottom: 1px dotted #e2e2e2;
	padding: 3px 4px;
}

select {
	color: #646464;
	border: 1px solid #cccccc;
}

textarea {
	color: #646464;
	border: 1px solid #cccccc;
}

.front {
	box-shadow: 5px 2px 10px 13px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

#carDealers{
	margin-top: 10px;
}

.footer{
	border-top:4px solid #FFCD00;
	background-color: rgba(141,141,141,0.2);
	margin-top: 20px;
	padding-top: 30px;
}

#footer{
	padding-bottom: 30px;

}

.contact-info{
	color: #dddddd;
	background-color: #333;
	text-align: center;
	padding: 15px;
	font-size: 13px;
}

.imgFeatured{
	width: 1000px;
	height: 200px;
	margin: 10px 0px 10px 0px;

}

#logo {
	margin: 20px 0px 0px 0px;
	width: 250px;
	height: 90px;
	cursor: pointer;
}

.nav.navbar-nav.navbar-right{
	margin: 50px 200px 50px 0px;
	text-transform: uppercase;
	font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
	color: black;
}

.navbar-default .navbar-nav>li>a:hover{
	color: rgba(8, 7, 8, 0.38);
}

.navbar.navbar-default{
	margin-bottom: 0px;
	border: 0px;
}

.section-title {
	color: #828282;
	cursor: default;
	text-transform: uppercase;
}

.section-line {
	border-bottom: 1px solid #e1e1e1;
	padding: 20px 8px 10px 40px;
}

.section-right {
	text-align: right;
}

a {
	color: #444444;
}

a:hover {
	color: #FFCD00;
	text-decoration: none;
}

.title:hover{
	color: #444444;
}
.contact{
	color: #dddddd;
}

.space {
	padding: 5px;
}

#featuredCars_tj_container .tj_wrapper ul li{
	height: 250px;
}

#featuredCars_tj_container {
	margin: 20px 0px 0px 0px;
	/*sacarlos cuando determine las col de lo que le sigue a featured cars*/
	height: 240px;

}

#featuredCars h5  {
	font-weight: 600;
	font-family: Arial, serif, sans-serif;
}

.title {
	background-color: #FFCD00;
	border-radius: 10px;
	opacity: 0.5;
	padding: 5px;
	margin-bottom: 10px;
}

.textFeatured, .imgBox{
	padding: 5px 5px 0px 8px;
}

.descrip {

}
 ul {
	list-style: none;
	padding: 0px;
}
.featuredCar li, .contact-info ul li, .footer-bottom ul li{
	display: inline-flex;
}
.browser-li{
	display: block;
}

.browser-col{
	padding: 0px;
}

.featured {
	background-color: #E0E0E0;
	width: 350px !important;
	margin: 0px 5px 0px 5px;
	border: 1px solid #828282;
	/*border-radius: 20px;
	left: auto;*/
}

.tj_nav  {
	float: right;
	cursor: pointer;
	margin: 20px 90px 0px 0px;

}

.tj_wrapper {
	position:relative;
}

.enlargeImageModalSource {
	width: 200px;
	height: 300px;
}


a.image-zoom {
	filter: alpha(opacity=90);
	opacity: 0.90;
}

a.image-zoom:hover {
	filter: alpha(opacity=70);
	opacity: 0.70;

}

a.image-zoom:hover span.zoom-icon {
	background: #ff9999 url(../files/zoom0000.png) no-repeat;
	background-color: rgba(255, 74, 74, 0.6);
}

a.image-zoom:hover span.zoom-icon {
	display: block;
	position: absolute;
	top: 30%;
	left: 20%;
}

a.image-zoom span.zoom-icon {
	display: none;
	width: 50px;
	height: 50px;
}

#homeSearch{
	background-color: #f6f6f6;
	border: 1px solid #e8e8e8;
	padding: 30px 40px;
}

#homeSearch .form-input{
	margin-bottom: 10px;
}
label{
	display: block;
	font-style: italic;
	margin-bottom: 5px;
}
select{
		font: 12px 'Open Sans', Helvetica, Arial, serif, sans-serif;
		width: 200px;
		height: 30px;
}
input{
	width: 200px;
}
.btn-default{
	background: #FFCD00;
	cursor: pointer;
	text-transform: uppercase;
}

a.advancedSearch{
	font-style: italic;
	padding-left: 10px;
	font-size: 13px;
}

.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}

.dealer-logo {
	padding: 10px;
}

.contact-info ul li.facebook {
	background: transparent url(../files/icon-set.png) no-repeat 0px -202px;
}

.footer-bottom{
	text-transform: uppercase;
	background-color: #000000;
	padding-left: 20px;
	padding-top: 20px;

}

.footer-bottom ul li a, .footer-notice, .footer-notice a{
	color: #eeeeee;
	margin-left: 10px;
}

.footer-notice{
	text-align: right;
}

.foto-flia {
	width:260px;
	float:left;
	margin-right:10px;
}

.listado-vehiculos{
	border-bottom: 1px dotted #e2e2e2;
	margin-top: 15px;
}

.attachment-tiny{
	border:#999 1px solid;
	width: 60px;
	height:40px;
}
